{
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.yaml", "*.yml", "*.json", "*.html", "*.md"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
